body {
  font-family: 'Times New Roman', Times, serif;
  background-color: #f1f1f1;
  margin: auto 0;
  justify-content: space-between;
}

#quiz-container {
  margin: 0 auto;
  max-width: 600px;
  background-color: #fff;
  padding: 2em;
  border-radius: 0.5em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#quiz-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

#quiz-time {
  font-weight: bold;
}

#quiz-results {
  font-weight: bold;
  margin-bottom: 1em;
}

#quiz-options {
  list-style-type: none;
  padding: 0;
  margin: 1em 0;
}

#quiz-options label {
  display: block;
  margin-bottom: 0.5em;
}

#quiz-submit,
#start-button,
#quiz-restart {
  padding: 0.5em 1em;
  border: none;
  border-radius: 0.3em;
  background-color: dodgerblue;
  color: white;
  font-size: 1em;
  cursor: pointer;
}

#quiz-submit:hover,
#quiz-restart:hover {
  background-color: royalblue;
}

#quiz-restart {
  margin-top: 1em;
}

.hidden {
  display: none;
}

#high-scores {
  margin-top: 1em;
  padding-left: 0;
}

#high-scores li {
  list-style-type: none;
  margin-bottom: 0.5em;
  background-color: #f1f1f1;
  padding: 0.5em;
  border-radius: 0.3em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

